@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

:root {
  --white-color: #fff;
  --main-color: #410c9e;
  --main30-color: #420c9e33;
  --main10-color: #410c9d14;
  --main1010-color: #410c9d14;
  --check-color: #420c9e33;
  --light-bg: #fafafa;
  --gray-background: #f4f4f4;
  --black-color: #231f20;
  --text-color: #777777;
  --LightGray: #d9d9d9;
  --star-color: #ffd500;
  --input-bg: #fafafa;
  --input-hint: #aaaaaa;
  --id-confirm: #eef6fc;
  --star: #d9d9d9;
  --main-transation: all 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  line-height: 28px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Din", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--white-color-color);
}
::-webkit-scrollbar-thumb {
  background: var(--input-hint);
  border-radius: 8px;
}
.progress {
  height: 8px;
  background-color: var(--gray-background);
}
.progress-bar-striped {
  background-image: none;
}
.progress-bar {
  background: var(--main-color);
}
.tabler-danger {
  stroke: red !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type="tel"] {
  direction: ltr !important;
}
input[type="number"] {
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-outer-spin-button {
    display: none;
  }
}
hr {
  margin: 0.5rem 0;
}
@keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}
.container {
  padding: 0;
  @include centerFlex();
  flex-direction: column;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.tooltip {
  --bs-tooltip-bg: #242424;
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
    line-height: 20px;
  }
}
.stars {
  display: flex;
  gap: 4px;
  li {
    color: var(--LightGray);
    &.star {
      color: var(--star-color);
    }
  }
  img {
    height: 16px !important;
  }
}
input[type="checkbox"] {
  width: 18px;
  appearance: none;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    content: "";
    font-family: "Font Awesome 6 pro";
    width: 18px;
    height: 18px;
    border: 1px solid var(--input-hint);
    border-radius: 4px;
    font-size: 12px;
    @include centerFlex();
    color: var(--main-color);
  }
  &:checked::after {
    content: "\f00c";
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
  }
}
.Toastify__toast-body {
  direction: ltr !important;
}
.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.tableLoader {
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: var(--main-color);
  }
}
.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  img {
    height: 70px;
  }
  span {
    width: 120px;
    height: 2px;
    background: var(--input-bg);
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      background: var(--main-color);
      height: 100%;
      animation: loading 0.5s linear infinite alternate;
    }
  }
}

.modal-header {
  border-bottom: 0;
  .modal-title {
    font-size: 14px;
  }
  .btn-close {
    box-shadow: none !important;
    background-image: url("../images/close.svg");
    margin-left: 0;
    margin-right: auto;
  }
}

.smallLoader {
  @include centerFlex();
  color: var(--main-color);
}

.form-switch .form-check-input {
  box-shadow: none !important;
  &:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
}

.css-qbdosj-Input input {
  height: 44px !important;
}
.css-13cymwt-control {
  border-radius: 12px !important;
}
.css-t3ipsp-control {
  box-shadow: none !important;
  border-radius: 12px !important;
  border-color: var(--LightGray) !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}

.form-control {
  box-shadow: none !important;
}

.form-check-input {
  border: 0 !important;
  box-shadow: none !important;
  background: none !important;
}

.like-btn {
  @include clearInput();
}
