.dropItem {
  background: #fff;
  border: 1px solid #f4f4f4;
  @media (max-width: 576px) {
    padding: 16px 12px;
  }
}

.Search_input {
  width: 70vw;
  padding: 12px 15px;
  border: 0px solid #eee;
}

.drop_Message_Menu {
  width: 350px;
  height: 300px;
}
.drop_Message {
  margin: 15px 0;
}

.image-wrap {
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
}

.image-wrap img {
  width: 100%;
  height: 100%;
  margin-inline-end: 8px;
  object-fit: cover;
}
.Menu {
  width: 150px;
}

.dropdown-item_Link {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #231f20;
  font-size: 14px;
}

.dropdown-item_Link i {
  color: #410c9e;
}

hr {
  padding: 0;
  margin: 0;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 6px;
}
